# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
/.idea/
/.nextflow/
/validation/.nextflow/
/validation/work/
/validation/.nextflow.log
/validation/.nextflow.log.*
/validation/*.db
/validation/*.db.wal